html {
    background-color: seashell;
    font-family: serif;
}

* { 
    box-sizing: border-box; 
    margin: 0; 
}

h1 {
    border-color: black;
    border: solid;
    background-color: white;
}

img {
    border-style: solid;
    border-width: 5px;
    border-color: salmon;
}

.links {
    color: salmon;
    border: solid;
    border-color: salmon;
    background-color: white;
    padding: 5px;
}

#special-image {
    box-shadow: #000000 5px 5px;
    border-color: #ad3d42;
}