html {
    background-color: lightcyan;
    font-family: serif;
}

* { 
    box-sizing: border-box; 
    margin: 0; 
}

header {
    background-color: darkcyan;
}

nav {
    display: flex;
    justify-content: center;
}

main {
    background-color: white;
}

footer {
    background-color: lightcyan;
}

img {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

a {
    padding: 5px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

/*#special-image {
    box-shadow: #000000 5px 5px;
    border-color: #ad3d42;
}*/

#logo
{
    border: none;
    color: white;
    padding-left: 5px;
}